<img src="/images/yo.jpg" alt="Mi foto" style="float: left; display: inline-block;">
<p>Realizado por <a href="https://www.miriadax.net/web/a.sebastian.rolando/perfil"
    alt="Perfil de A. Sebastián Rolando en MiriadaX">A. Sebastián Rolando</a>
    para el curso "Desarrollo de servicios en la nube con HTML5, Javascript y node.js" de MiriadaX
</p>
